[General]
# 候補ウィンドウの項目数
#PageSize=10
# 候補リストのレイアウト
# 可能な値:
# Global
# Vertical
# Horizontal
#CandidateLayout=Vertical
# 候補ウィンドウを表示するまでの候補数
#NTriggersToShowCandWin=2
# 入力モード
# 可能な値:
# Hiragana
# Katakana
# Half Katakana
# Latin
# Wide Latin
#InputMode=Hiragana
# 入力方式
# 可能な値:
# Romaji
# Kana
# Nicola
#TypingMethod=Romaji
# 変換モード
# 可能な値:
# Multi segment
# Single segment
# Multi segment immediate
# Single segment immediate
#ConversionMode=Multi segment
# 句読点のスタイル
# 可能な値:
# Wide latin
# Latin
# Japanese
# Wide latin Japanese
#PeriodStyle=Japanese
# 記号のスタイル
# 可能な値:
# Japanese
# Wide bracket and wide slash
# Corner bracket and Middle Dot
# Corner bracket and wide slash
#SymbolStyle=Japanese
# 手動学習
# 可能な値:
# True False
#LearnOnManualCommit=True
# 自動学習
# 可能な値:
# True False
#LearnOnAutoCommit=True
# 分割を許可
# 可能な値:
# True False
#AllowSplit=True
# 予測中に直接選択キーを使用する
# 可能な値:
# True False
#UseDirectKeyOnPredict=True
# 候補のラベルを表示
# 可能な値:
# True False
#ShowCandidatesLabel=True

[Interface]
# 入力モードを表示
# 可能な値:
# True False
#ShowInputMode=True
# 入力方式を表示
# 可能な値:
# True False
#ShowTypingMethod=True
# 変換モードを表示
# 可能な値:
# True False
#ShowConversionMode=True
# 句読点のスタイルを表示
# 可能な値:
# True False
#ShowPeriodStyle=False
# 記号のスタイルを表示
# 可能な値:
# True False
#ShowSymbolStyle=False

[KeyProfile]
# キーバインドのプロファイル
# 可能な値:
# Default
# Atok
# Canna
# MS IME
# Vje Delta
# WNN
# Custom
#KeyBindingProfile=Default
# ローマ字配列
# 可能な値:
# Default
# Atok
# Azik
# Canna
# MS IME
# Vje Delta
# WNN
#RomajiTable=Default
# カナ配列
# 可能な値:
# Default
# 101kana
# tsuki-2-203-101
# tsuki-2-203-106
# Quick Kana
# Custom
#KanaTable=Default
# Nicola配列
# 可能な値:
# Default
# Nicola-A
# Nicola-F
# Nicola-J
# Oasys100J
# Tron Dvorak
# Tron Qwerty JP
# Custom
#NicolaTable=Default
# 独自のキーバインド
#CustomKeyBinding=
# 独自のローマ字配列
#CustomRomajiTable=
# 独自のかな配列
#CustomKanaTable=
# 独自のNicola配列
#CustomNicolaTable=

[Key]
# 入力モード循環
#CircleInputModeKey=CTRL_, CTRL_<
# かなモード循環
#CircleKanaModeKey=CTRL_. HIRAGANAKATAKANA
# 英数とかなモード循環
#CircleLatinHiraganaModeKey=
# 入力方式循環
#CircleTypingMethodKey=ALT_ROMAJI CTRL_/
# 英数モード
#LatinModeKey=
# 全角英字モ－ド
#WideLatinModeKey=
# ひらがなモード
#HiraganaModeKey=
# カタカナモード
#KatakanaModeKey=
# 半角カタカナモード
#HalfKatakanaModeKey=
# 一時アスキーモードをやめる
#CancelPseudoAsciiModeKey=ESCAPE
# 空白を挿入
#InsertSpaceKey=SPACE
# 別幅空白の挿入
#InsertAltSpaceKey=SHIFT_SPACE
# 半角スペースの挿入
#InsertHalfSpaceKey=
# 全角スペースの挿入
#InsertWideSpaceKey=
# バックスペース
#BackSpaceKey=BACKSPACE CTRL_H
# 削除
#DeleteKey=DELETE CTRL_D
# 確定
#CommitKey=ENTER CTRL_J
# 再変換の確定
#CommitReverseLearnKey=SHIFT_ENTER
# 変換
#ConvertKey=SPACE HENKAN
# 予測
#PredictKey=TAB
# キャンセル
#CancelKey=ESCAPE CTRL_G
# 全てキャンセル
#CancelAllKey=
# 最初へ移動
#MoveCaretFirstKey=CTRL_A HOME
# 最後へ移動
#MoveCaretLastKey=CTRL_E END
# 前方へ移動
#MoveCaretForwardKey=RIGHT CTRL_F
# 後方へ移動
#MoveCaretBackwardKey=LEFT CTRL_B
# 最初の文節を選択
#SelectFirstSegmentKey=CTRL_A HOME
# 最後の文節を選択
#SelectLastSegmentKey=CTRL_E END
# 次の文節を選択
#SelectNextSegmentKey=RIGHT CTRL_F
# 前の文節を選択
#SelectPrevSegmentKey=LEFT CTRL_B
# 文節を縮める
#ShrinkSegmentKey=SHIFT_LEFT CTRL_I
# 文節を伸ばす
#ExpandSegmentKey=SHIFT_RIGHT CTRL_O
# 最初の文節を確定
#CommitFirstSegmentKey=SHIFT_DOWN
# 選択文節を確定
#CommitSelectedSegmentKey=CTRL_DOWN
# 再変換した最初の文節を確定
#CommitFirstSegmentReverseLearnKey=
# 再変換した選択済み文節を確定
#CommitSelectedSegmentReverseLearnKey=
# 最初の候補に移動
#SelectFirstCandidateKey=HOME
# 最後の候補に移動
#SelectLastCandidateKey=END
# 次の候補に移動
#SelectNextCandidateKey=SPACE TAB
# 次の候補に移動する別のキー
#SelectNextCandidateKeyAlter=HENKAN DOWN
# 前の候補に移動
#SelectPrevCandidateKey=SHIFT_TAB UP
# 前の候補に移動する別のキー
#SelectPrevCandidateKeyAlter=
# 次のページへ
#CandidatesPageUpKey=PGUP
# 前のページへ
#CandidatesPageDownKey=PGDN
# 次の文字種に変換
#ConvertCharTypeForwardKey=MUHENKAN
# 前の文字種に変換
#ConvertCharTypeBackwardKey=
# ひらがな変換
#ConvertToHiraganaKey=F6
# カタカナ変換
#ConvertToKatakanaKey=F7
# 半角変換
#ConvertToHalfKey=F8
# 半角カタカナ変換
#ConvertToHalfKatakanaKey=SHIFT_F8
# 全角英数変換
#ConvertToWideLatinKey=F9
# 英数変換
#ConvertToLatinKey=F10
# 再変換
#ReconvertKey=SHIFT_HENKAN
# 辞書の編集
#DictAdminKey=F11
# 単語を追加
#AddWordKey=F12
# 左親指キー
#LeftThumbKey=MUHENKAN
# 右親指キー
#RightThumbKey=HENKAN SPACE
# かなレイアウト用の「ろ」キー
#KanaLayoutRoKey=ろ
# Nicola時間
#NicolaTime=200

[Command]
# 単語の追加
#AddWord=kasumi -a
# 辞書の編集
#DictAdmin=kasumi

