[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/student/j20/j20439/デスクトップ/名称未設定.xcf]
row=5
col=0

[/home/student/j20/j20439/デスクトップ/描画-1.wmf]
row=7
col=0

[/home/student/j20/j20439/デスクトップ/無題 1.ods]
row=8
col=0

[/home/student/j20/j20439/デスクトップ/描画-1.svg]
row=4
col=0

[/home/student/j20/j20439/デスクトップ/描画.svg]
row=6
col=0

[ゴミ箱]
row=1
col=0

[/]
row=2
col=0

[/home/student/j20/j20439]
row=3
col=0

